/**
 * リンクの hover
 *
 */
@mixin hover {
  transition: opacity .25s;

  &:hover {
    opacity: .5;
  }
}


/**
 * z-index の順序を設定
 *
 *
 */
$z-index:(
  // ↑レイヤー上
  header
  product-item-on
  product-item
  // ↓レイヤー下
);

//リストを逆転させる
@function list-reverse($map) {
  $result: ();
  @for $i from length($map)*-1 through -1 {
    $result: append($result, nth($map, abs($i)), comma);
  }
  @return $result;
}
$z-index: list-reverse($z-index);


@function z($name) {
  @return index($z-index, $name);
}
