/*--------------------
 colours
---------------------*/
$primary: #fff;
$black:  #2F2F2F;
$white: #fff;

// font
$fc-main: $black;
$fc-subtitle: #8D8D8D;
$fc-heading: $black;
$fc-footer: $white;
$fc-size: $white;

// border
$bc: #E5E5E5;
$bc-product-item: #CCC;
$bc-nav-menu-list: $black;

// background
$bg-main: $white;
$bg-card: #f7f7f7;
$bg-footer: $black;
$bg-size: $black;
$bg-product-item: #f5f5f5;

// for Colour Palette
$cp-white: $white;
$cp-white-bd: #ccc;
$cp-khaki: #ebe1be;
$cp-khaki-bd: #d3caab;
$cp-yellow: #fed533;
$cp-green: #7bba3c;
$cp-red: #e7352b;
$cp-grey: #777878;
$cp-brown: #825d41;
$cp-blue: #1790c8;
$cp-olive: #7F7F00;
$cp-black: #111;
$cp-cream: #FBF4D9;
$cp-cream-bd: #FBF4D9;

/*--------------------
 font family
---------------------*/
$font-primary: 'Roboto';
$font-heading: 'Oswald';


/*--------------------
 size
---------------------*/
$font-size-link: 12px;
$font-size-icon: 16px;
